Node-RED Flows/Driver Node-RED Flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf460
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"a156b9b7.19cb78","type":"wiotp in","z":"3d149db8.936d12","authType":"d","deviceType":"","deviceId":"","command":"","commandType":"g","name":"","x":224,"y":663,"wires":[["3b98f15c.09ed9e","1dc2bd08.91fa93"]]\},\{"id":"3b98f15c.09ed9e","type":"debug","z":"3d149db8.936d12","name":"","active":true,"console":"false","complete":"false","x":581,"y":596,"wires":[]\},\{"id":"1dc2bd08.91fa93","type":"function","z":"3d149db8.936d12","name":"","func":"var newMsg = \{payload:\\"0\\"\};\\nif(msg.payload.motion == \\"1\\")\\n\{\\n    newMsg.payload = \\"1\\";\\n\}\\nelse\\n\{\\n    newMsg.payload = \\"0\\";\\n\}\\nreturn newMsg;","outputs":1,"noerr":0,"x":423,"y":721,"wires":[["f2258d61.59be4"]]\},\{"id":"f2258d61.59be4","type":"rpi-gpio out","z":"3d149db8.936d12","name":"","pin":"40","set":"","level":"0","out":"out","x":607,"y":657,"wires":[]\}]}