Node-RED Flows/Sensor Node-RED Flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf460
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"fd5dfcf3.b250a","type":"wiotp-credentials","z":"3d149db8.936d12","name":"Sensor","org":"gqvlee","devType":"RPi3","devId":"b827eb4a5354"\},\{"id":"13d54c69.e71ad4","type":"debug","z":"3d149db8.936d12","name":"","active":true,"console":"false","complete":"false","x":810.5,"y":247,"wires":[]\},\{"id":"b45cee99.6f489","type":"wiotp out","z":"3d149db8.936d12","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"fd5dfcf3.b250a","deviceType":"","deviceId":"","event":"compassUpdate","format":"json","name":"Compass","x":805.5,"y":328,"wires":[]\},\{"id":"39b585d5.21285a","type":"function","z":"3d149db8.936d12","name":"motion","func":"var acc = \{payload: msg.payload.acceleration\};\\nvar comp = msg.payload.compass;\\nvar light = \{payload: \\"*,*,red\\"\};\\nvar IoTAcc = \{d:''\};\\n\\nif (comp > 100)\\n\{\\n    light.payload = \\"*,*,green\\";\\n\}\\nelse\\n\{\\n    light.payload = \\"*,*,red\\";\\n\}\\n\\nIoTAcc.payload = \{d:\{compass:comp\}\};\\n\\nreturn [msg, acc, light,IoTAcc];","outputs":"4","noerr":0,"x":555,"y":227,"wires":[[],[],[],["13d54c69.e71ad4","b45cee99.6f489"]]\},\{"id":"7d4a7531.4cacec","type":"rpi-sensehat out","z":"3d149db8.936d12","name":"","x":957,"y":389,"wires":[]\},\{"id":"b8618587.909158","type":"rpi-sensehat in","z":"3d149db8.936d12","name":"","motion":true,"env":false,"stick":false,"x":211,"y":227,"wires":[["79315833.8b0dd8","b31dfe03.9c3fd"]]\},\{"id":"79315833.8b0dd8","type":"delay","z":"3d149db8.936d12","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397.5,"y":227,"wires":[["39b585d5.21285a"]]\},\{"id":"1a66e6c6.b71019","type":"function","z":"3d149db8.936d12","name":"Command Proc","func":"var colorCmd = \{payload:\\"\\"\};\\ncolorCmd.payload = msg.payload.color;\\nreturn colorCmd;","outputs":1,"noerr":0,"x":540.5,"y":388,"wires":[["a824ac43.5ef9f","7d4a7531.4cacec"]]\},\{"id":"a824ac43.5ef9f","type":"debug","z":"3d149db8.936d12","name":"","active":false,"console":"false","complete":"true","x":737.5,"y":430,"wires":[]\},\{"id":"dfaafde1.caef6","type":"switch","z":"3d149db8.936d12","name":"","property":"command","propertyType":"msg","rules":[\{"t":"eq","v":"ledColor","vt":"str"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":360,"y":424,"wires":[["1a66e6c6.b71019"],["a824ac43.5ef9f"]]\},\{"id":"b31dfe03.9c3fd","type":"debug","z":"3d149db8.936d12","name":"","active":false,"console":"false","complete":"false","x":408.5,"y":152,"wires":[]\},\{"id":"4cef895c.c47a08","type":"wiotp in","z":"3d149db8.936d12","authType":"d","deviceKey":"fd5dfcf3.b250a","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":193.5,"y":424,"wires":[["dfaafde1.caef6"]]\}]}